.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	background-color: transparent;
	border: 1px solid $base1;
	color: $base1;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
  letter-spacing: 1px;
  padding: 0 15px;
  line-height: 24px;
  outline: none;

  &:focus,
  &:hover {
    background-color: $base1;
    border-color: $base03;
    color: $base03;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;

    &:focus,
    &:hover {
      background: transparent;
      color: $base1;
      border-color: $base1;
    }
  }

  &.button-green {
    border-color: $green;
    color: $green;

    &:focus,
    &:hover {
      color: $base03;
      background-color: $green;
    }

    &:disabled {
      &:focus,
      &:hover {
        border-color: $green;
        color: $green;
      }
    }
  }

  &.button-danger {
    border-color: $red;
    color: $red;

    &:focus,
    &:hover {
      color: $base03;
      background-color: $red;
    }

    &:disabled {
      &:focus,
      &:hover {
        border-color: $red;
        color: $red;
      }
    }
  }
}

.button-icon {
  background: inherit;
  line-height: inherit;
  outline: none;
  cursor: pointer;
  color: $base01;
  border: none;
  border-radius: 50%;
  padding: nth($sizes, 4) nth($sizes, 4);

  &:focus,
  &:hover {
    background: $base02;
  }

  &:active {
    color: $base1;
  }

  &.button-green {
    &:hover {
      color: $green;
    }
  }
}
