.pane-column,
.pane-row {
  display: flex;
  height: 100%;
  width: 100%;
  flex: auto;
}

.pane-column {
  flex-direction: column;

  > .pane:not(:last-child) {
    border-bottom: 1px solid black;
  }

  &.pane-list {
    > .pane:last-child {
      border-bottom: 1px solid black;
    }
  }
}

.pane-row {
  flex-direction: row;

  > .pane:not(:last-child) {
    border-right: 1px solid black;
  }

  &.pane-list {
    > .pane:last-child {
      border-right: 1px solid black;
    }
  }
}

.pane {
  flex: auto;
  overflow-y: auto;
}

.pane-fixed {
  flex: none;
}

.pane-width-1 {
  width: 180px;
}

.pane-width-2 {
  width: 240px;
}

.pane-width-3 {
  width: 320px;
}

.pane-heading {
  padding: $padding-vertical $padding-horizontal nth($sizes, 3);
}

.pane-body {
  padding: $padding-vertical $padding-horizontal;
}

.pane-body-condensed {
  padding: nth($sizes, 4) $padding-horizontal;
}

.pane-body-minimal {
  padding: nth($sizes, 2) $padding-horizontal;
}

.pane-unbody {
  margin-right: -$padding-horizontal;
  margin-left: -$padding-horizontal;
}

.pane-highlight {
  background-color: $base02;
}

.pane-header {
  flex-grow: 0;
  padding: 8px 12px;
}
