@import '~quill/dist/quill.snow.css';
@import './styles/variables';

#root {
  height: 100%;
}

/* Quill styles */

.ql-toolbar {
  flex-grow: 0;
}

.ql-container {
  flex-grow: 1;
}

.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid black;
}

.ql-container.ql-snow {
  border: none;
}

.ql-snow .ql-stroke {
  stroke: $base1;
}

.ql-snow .ql-picker {
  color: $base1;
}
