@import "./colors";
@import "./pane";

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', monospace, sans-serif;
  padding: 0;
  height: 100%;

  background: $base03;
  color: $base0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $base0;

  &:hover {
    color: $cyan;
  }
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	background-color: transparent;
	border: 1px solid $base1;
	color: $base1;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
  letter-spacing: 1px;
  padding: 0 30px;
  line-height: 36px;

  &:focus,
  &:hover {
    background-color: $base1;
    border-color: $base03;
    color: $base03;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;

    &:focus,
    &:hover {
      background: transparent;
      color: $base1;
      border-color: $base1;
    }
  }
}

.button-danger {
  border-color: $red;
  color: $red;

  &:focus,
  &:hover {
    background-color: $red;
  }

  &:disabled {
    &:focus,
    &:hover {
      border-color: $red;
      color: $red;
    }
  }
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'],
input:not([type]),
textarea,
select {
  appearance: none; // Removes awkward default styles on some inputs for iOS
  background-color: transparent;
	border: none;
  border-bottom: 1px solid $base02;
	box-shadow: none;
	box-sizing: inherit; // Forced to replace inherit values of the normalize.css
	width: 100%;
  color: $base0;

  height: 40px;
  vertical-align: middle;

  &:focus,
  &:active {
    border-bottom: 1px solid $yellow;
  }

  &::placeholder {
    color: $base01;
  }
}

table {
	border-spacing: 0;
	width: 100%;
}

td,
th {
	padding: 6px 9px;
	text-align: left;

	&:first-child {
		padding-left: 0
  }

	&:last-child {
		padding-right: 0
  }
}

.h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.margin-right {
  margin-right: 12px;
}

.margin-left {
  margin-left: 12px;
}

#root {
  height: 100%;
}

.text-error {
  color: $red;
}

.dark-mode {
  .emphasized {
    color: $base1;
    font-weight: bold;
    font-size: 16px;
  }
}

.list {
  margin: 8px 0;
}

.list-heading {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.row {
  display: flex;
  width: 100%;
}

// Main

.left-nav-pane {
  width: 180px;
}


// Reminders

.reminders-form-panel {
  width: 280px;
  flex-grow: 0;
}

.reminder {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 12px 16px;

  border-bottom: 1px solid black;

  .title {
    font-size: 18px;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
